@page "/"
@using BasicCalculator.Client.Components

<main>
    <div class="calculator">
        <CalcHeader />
        <div class="calc-main">
            <CalcDisplay/>
            <CalcPad/>
        </div>
    </div>
</main>
