@page "/"
@using BasicCalculator.Client.Components

<main>
    <div class="calculator">
        <CalcHeader />
        <div class="calc-main">
            <CalcDisplay CalcValue="@_displayValue"/>
            <CalcPad CurrentKey="@_pressedKey" CurrentKeyChanged="HandleKeyPressed"/>
        </div>
    </div>
</main>

@code {
    private readonly string[] _numbers = { "0", "1", "2", "3", "4", "5", "6", "7", "8", "9" };
    private readonly string[] _operators = { "+", "-", "/", "x" };
    private string _pressedKey = "";
    private string _displayValue = "0";
    
    // calculator state
    private string _previousValue = "";
    private string _operation = "";
}
