@page "/"
@using BasicCalculator.Client.Components

<main>
    <div class="calc-container" data-theme="@_theme">
        <div class="calculator">
            <CalcHeader CurrentTheme="SetTheme"/>
            <div class="calc-main">
                <CalcDisplay CalcValue="@_displayValue" />
                <CalcPad CurrentKey="@_pressedKey" CurrentKeyChanged="HandleKeyPressed"/>
            </div>
        </div>
    </div>
</main>
