@page "/"
@using BasicCalculator.Client.Components

<main>
    <div class="calculator">
        <CalcHeader />
        <div class="calc-main">
            <CalcDisplay CalcValue="@PressedKey"/>
            <CalcPad @bind-CurrentKey="PressedKey"/>
        </div>
    </div>
</main>

@code {
    private string PressedKey { get; set; } = "";
}
