
<header class="calc-header">
    <h1>calc</h1>
    <ThreeThemeToggle SelectedThemeChanged="PassCurrentTheme"/>
</header>


@code {
    [Parameter] public EventCallback<string> CurrentTheme { get; set; }

    private async Task PassCurrentTheme(string theme)
    {
        await CurrentTheme.InvokeAsync(theme);
    }
}