@using System.Text

<div class="calc-pad">
    @foreach (var btn in _buttons)
    {
        <CalcButton 
            CalcBtnText=@btn Class=@GetClassString(btn)
            OnBtnClick="@(() => SelectedKey(btn))"/>
    }
</div>

@code {

    [Parameter] public string CurrentKey { get; set; } = "";
    [Parameter] public EventCallback<string> CurrentKeyChanged { get; set; }

    private async Task SelectedKey(string key)
    {
        await CurrentKeyChanged.InvokeAsync(key);
    }
    
    private readonly string[] _buttons =
    {
        "7", "8", "9", "del",
        "4", "5", "6", "+",
        "1", "2", "3", "-",
        ".", "0", "/", "x",
        "reset", "="
    };

    private string GetClassString(string value)
    {
        var cls = new StringBuilder();
        if (value == "reset" || value == "=")
        {
            cls.Append("span-two ");
            if (value == "=")
                cls.Append(" equal-btn");
        }

        if (value == "del" || value == "reset")
            cls.Append("secondary-btn");

        return cls.ToString();
    }
}
