<div class="toggle-container">
    <input type="radio" id="option-1" name="triple-toggle" checked>
    @* <label for="option-1">1</label> *@

    <input type="radio" id="option-2" name="triple-toggle">
    @* <label for="option-2">2</label> *@

    <input type="radio" id="option-3" name="triple-toggle">
    @* <label for="option-3">3</label> *@
  
    <!-- This element serves as the animated sliding pill background -->
    <div class="slider-pill"></div>
</div>

@code {
    
}